<div>
    <div class="timeSliderContentDisabled" data-bind="visible: isDisabled, text:disabledTimeSliderText"></div>
    <div class="timeSliderContent" data-bind="visible: isEnabled">
        <div class="timeSliderCurrentValuesAndActionsContainer" style="width:60%">
            <div style="width: 100%" data-bind="css:{timeSliderDayOnlyMode: dayOnlyMode}"
                 class="timeSliderCurrentValueDisplay">
                <div class="timeSliderCurrentValueLabel">Current Time Extent:</div>
                <div class="timeSliderCurrentValueValues">
                    <span data-bind="text: currentTimeStartValue"></span>
                    <span class="timeSliderCurrentValueValuesSeperator"> - </span>
                    <span data-bind="text: currentTimeEndValue"></span>
                </div>
            </div>
            <div class="timeSliderLayerActions" data-bind="visible:timeSliderLayerActionsVisible">
                <div class="commonIcons16 locationGoTo" title="Zoom To Layer Extent"
                     data-bind="visible:zoomToLayerVisible"
                     data-dojo-attach-event="onclick:handleZoomToLayerExtent"></div>
            </div>
        </div>
        <div class="timeSliderUseRangeContainer" data-bind="visible:showRangeContainer">
            <span class="timeSliderUseRangeLabel" data-bind="text:useRangeLabel"></span>
            <input type="checkbox" data-bind="checked: useRangeSlider"/>
        </div>
        <div class="timeSliderInputsContainer">
                <span class="timeSliderRangeBreaksContainer">
                    <span class="timeSliderRangeBreaksLabel" data-bind="text:intervalsLabel"></span>
                    <select data-bind=" options: intervals ,value:selectedInterval">
                    </select>
                    <select data-bind="visible: showIntervalSelect,options: unitValue ,value:selectedUnits, optionsText: 'label', optionsValue: 'value'">
                    </select>
                </span>

            <div class="timeSlidersLayerSelectContainer" data-bind="visible: layersSelectContainerVisible">

                <select data-bind="options: layers ,value:selectedLayer, optionsText: 'label', optionsValue: 'value', optionsCaption: 'Select A Layer...'">

                </select>
            </div>
        </div>
        <div class="timeSlidersContainer" data-dojo-attach-point="timeSlidersContainer">
        </div>
    </div>
</div>
