<div class="layerTransparencySliderEntry">

    <div class="searchTransparencySliderLayerName" data-bind="text:layerName"></div>

    <div
            data-dojo-type="dijit/form/HorizontalSlider"
            data-dojo-attach-event="onChange: handleTransparencyChange"
            data-dojo-props="value:0,
        minimum: 0,
        maximum:100,
        intermediateChanges:true,
        showButtons:false">
        <div data-dojo-type="dijit/form/HorizontalRule" container="bottomDecoration"
             class="layerTransSliderRuleLblContainer"
             count=11></div>
        <ol data-dojo-type="dijit/form/HorizontalRuleLabels" container="bottomDecoration"
            class="layerTransSliderRuleLbls">
            <li>0%</li>
            <li>20%</li>
            <li>40%</li>
            <li>50%</li>
            <li>60%</li>
            <li>80%</li>
            <li>100%</li>
        </ol>
    </div>

</div>