.mensurationToolSelectContainer, .mensurationActionsContainer {
    margin: 10px 0;
}

.mensurationCalculationValueContainer {
    font-size: 11pt;
    margin: 5px 0 5px 5px;
    height: 26px;

}

.mensurationErrorInCalculationContainer {
    margin-bottom: 10px;
}

