<div>
    <div class="uploadGeometryFileFormContainer">
        <div class="uploadGeometryFileHeaderLabel">Upload a KML/KMZ or zipped shapefile</div>
        <form data-dojo-attach-point="fileUploadForm" method="post" enctype="multipart/form-data">
            <input type="file" data-dojo-attach-point="uploadFileInput" name="file" data-dojo-attach-event="onchange:handleFilePathChanged">
            <input type="hidden" name="f" value="json"/>
        </form>
    </div>
    <div>
        <input data-dojo-attach-point="geoemtryUploadIntersects" type="radio" name="uploadGeometryOperation" checked="true" title="Intersects"><span>Intersects</span>
        <input type="radio" name="uploadGeometryOperation" title="Intersects"><span>Exclude</span>
    </div>
    <div class="uploadGeometryActionsContainer">
        <div style="margin-left: 25px" data-dojo-type="dijit/form/Button" data-dojo-attach-point="geometryUploadButton" data-dojo-attach-event="onClick:handleGeometryUpload">Upload</div>
    </div>
</div>