.searchTransparencySliderLayerName {
    padding-bottom: 10px;
}
.searchLayerTransparencyContent {
    width: 300px;
    font-size: 9pt;
    color: gray;
    max-height: 200px;
    overflow: auto;
}

.transparencyWidgetPopupCloseIcon {
    position:absolute;
}

.layerTransparencySliderEntry {
    height: 40px;
    margin: 10px 0;
    padding: 5px;
    width: 90%;
}