<div class="prefilterContainer">
        <span class="prefilterDropDownContainer">
            <span data-dojo-attach-point="resolutionDropDownContainer"></span>
        </span>
        <span class="prefilterDropDownContainer">
            <span data-dojo-attach-point="offNadirDropDownContainer"></span>
        </span>
        <span class="prefilterDropDownContainer">
            <span data-dojo-attach-point="satelliteDropDownContainer"></span>
        </span>
        <span class="prefilterDropDownContainer">
            <span data-dojo-attach-point="cloudCoverDropDownContainer"></span>
        </span>
</div>