<div>
    <!-- tabs for the content -->
    <div class="checkoutActionsContainer">
        <div class="defaultTabContainer">
            <span data-bind="visible: showDownloadImageryTab, click:showDownloadImageryContent, css: {selectedTab: downloadImageryData}, text:downloadImageryLabel"></span>
            <span data-bind="click:showDownloadFootprintsContent, css: {selectedTab: downloadFootprintData}, text:footprintsLabel"></span>
            <span data-bind="click:showReportingContent, css: {selectedTab: reportingData}, text:reportingLabel"></span>
            <span data-bind="visible: showWebMapCreationTab, click:showCreateWebMapContent, css: {selectedTab: webMapCreation}, text:webMapLabel"></span>

        </div>
        <!--end tabs for the content -->
        <!-- content widgets -->
        <div class="imageResultsExportContent">
            <div data-dojo-attach-point="imageExportContainer" data-bind="visible: downloadImageryData">
            </div>
            <div data-bind="visible: downloadFootprintData" data-dojo-attach-point="downloadFootprintsContainer">

            </div>
            <div data-bind="visible: reportingData" data-dojo-attach-point="reportingContainer">

            </div>
            <div data-bind="visible: webMapCreation" data-dojo-attach-point="webMapCreationContainer">

            </div>
        </div>
        <!-- end content widgets -->
    </div>
</div>