.uploadGeometryFileFormContainer {
    margin-bottom: 10px;
}

.uploadGeometryActionsContainer {
    text-align: right;
    margin-right: 10px;
    margin-top: 5px;
}

.uploadGeometryFileHeaderLabel {
    text-align: left;
    margin: 15px 5px;
}

