<div class="addCatalogContainer">
    <div class="defaultTabContainer addCatalogTabContainer">
        <span data-bind="click:showAddCatalog, css: {selectedTab: addCatalogVisible}">Add Catalog</span>
        <span data-bind="visible: showSavedCatalogsTab, click:showSavedCatalogs, css: {selectedTab: savedCatalogsVisible}">Saved Catalogs</span>
    </div>
    <div data-bind="visible:savedCatalogsVisible">
        <div class="catalogAddMainHeader">Saved Catalogs</div>
        <div data-dojo-attach-point="persistedCatalogsContainer"></div>
    </div>
    <div data-bind="visible:addCatalogVisible">
        <div class="catalogAddMainHeader">Add Image Service Catalog</div>
        <div data-bind="visible:hasSearchFields() != true">
            <div class="addCatalogUrlInputContainer">
                <div class="addCatalogUrlLbl">Catalog URL:</div>
                <input class="addCatalogUrlInputTextBox"
                       data-bind="value: catalogUrlInputValue, valueUpdate: 'afterkeydown',  event:{keyup:checkForCatalogEnter}"/>
                <button data-bind="click:handleLoadFromCatalogUrl">Load Fields</button>
            </div>
        </div>
        <div data-bind="visible:hasSearchFields">
            <div class="catalogSearchFieldsHeader">Search Fields</div>
            <ul class="catalogFieldsListingList" data-bind="foreach:searchFields"
                data-dojo-attach-point="catalogFieldsListing">
                <li data-bind="ifnot: $parent.isIgnoreField($data.name)" class="catalogFieldListingEntry">
                    <span class="catalogFieldNameHeader" data-bind="text:$data.name"></span>
                    <div class="catalogFieldActions">
                    <span class="addCatalogFieldEntryAction">
                        <span class="addCatalogFieldActionLbl">Enabled:</span>
                        <input class="addCatalogFieldEnabledCheckbox addCatalogFieldCheckbox" type="checkbox"/>
                    </span>
                    <span class="addCatalogFieldEntryAction">
                        <span class="addCatalogFieldActionLbl">Enable Result Filter:</span>
                        <input class="addCatalogFieldFilterCheckbox addCatalogFieldCheckbox" type="checkbox"/>
                    </span>
                    <span class="addCatalogFieldEntryAction">
                        <span class="addCatalogFieldActionLbl">Enable Discovery Filter:</span>
                        <input class="addCatalogFieldDisocveryFilterCheckbox addCatalogFieldCheckbox" type="checkbox"/>
                    </span>
                    <span class="addCatalogFieldEntryAction">
                          <span class="addCatalogFieldActionLbl">Hidden:</span>
                          <input class="addCatalogFieldHiddenCheckbox addCatalogFieldCheckbox" type="checkbox"/>
                    </span>
                    <span class="addCatalogFieldEntryAction">
                        <span class="addCatalogFieldActionLbl">Label:</span>
                        <input class="addCatalogFieldLabelTextInput" type="text" data-bind="value:$data.name"/>
                     </span>
                    </div>
                </li>
            </ul>
            <div class="addCatalogActionButtons">
                <span class="catalogNameContainer">
                    <span class="catalogNameLbl">Catalog Name:</span>
                    <input data-bind="value:catalogName"/>
                </span>
                <button data-bind=" click:clearSearchFields">Back</button>
                <button data-bind=" click:initializeService">Add Catalog</button>
            </div>
        </div>
    </div>
</div>