<div>

    <div class="mosaicRuleEntry">
        <span>Mosaic Method:</span>
        <select data-dojo-attach-point="mosaicMethodSelect"
                data-dojo-attach-event="onChange:handleRasterFunctionTypeChange" data-dojo-type="dijit/form/Select"
                style="width:${selectWidgetWidth}">
            <option value="${mosaicMethodSelectValues.closestToCenter}">Closest To Center</option>
            <option value="${mosaicMethodSelectValues.lockSelectedRasters}">Lock Selected</option>
            <option value="${mosaicMethodSelectValues.byAttribute}">By Attribute</option>
            <option value="${mosaicMethodSelectValues.mostNorthwest}">Most Northwest</option>
            <option value="${mosaicMethodSelectValues.closestToNadir}">Closest To Nadir</option>
            <option value="${mosaicMethodSelectValues.seamline}">Seamline</option>
            <option value="${mosaicMethodSelectValues.viewpoint}">Viewpoint</option>
            <option value="${mosaicMethodSelectValues.none}">None</option>
        </select>
    </div>


</div>