.imageInfoContainer {
    margin-top: 10px;
    height: 95%;
    overflow: auto;
    background: white;
}

.imageInfoThumbnail {
    margin-left: 0;
    margin-top: 0;
}

.imageryInfoWidget {
    height: 95%;
}

.imageInfoEntryList {
    list-style-type: none;
    margin: 5px 10px;
    padding: 0;
}

.imageInfoItem {
    margin: 10px 0;
    padding: 10px;
    width: 90%;
}

.imageInfoItemHeader {
    border-bottom: 1px solid #666666;
    padding-left: 3px;
    margin-left: -5px;
    color: #666666;
    margin-bottom: 5px;
}

.imageInfoItemContent {
    list-style-type: none;
    padding: 0;
}

.imageInfoAttributeEntryLbl {
    color: black;
}

.imageInfoAttributeEntryValue {
    color: blue;
}

.imageInfoAttributeEntryValue .emptyImageInfoValueEntry {
    color: gray;
}

.imageInfoActionsContainer {
    height: 20px;
}
.imageInfoActionsContainer div{
    margin: 0 5px;
}
.imageInfoActionsContainerHeader {
    float: left;
    border: 1px solid #DFDFDF;
    border-top: 0 none;
    height: 35px;
    margin-right: 15px;
    line-height: 30px;
    padding: 0 5px;
    cursor: pointer;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

.imageInfoWindow {
    z-index: 150;
}

.imageInfoContent {
    padding-top: 0 !important;
    font-size: 8pt;
}

.showImageHeaderIcon {
    background: url(../assets/images/thumbnail.png);
    height: 18px;
    width: 18px;
    float: right;
    cursor: pointer;
}

.shoppingCartHeaderIcon {
    float: right;
}

.centerAndFlashFootprintHeaderIcon {
    float: right;
    margin-right: 2px;
}