<div class="searchByMetadataWidget" style="margin-bottom:10px">
    <div data-dojo-attach-point="metadataDetailsLabel" class="discoveryDescriptionStepText ">discover imagery by metadata</div>
    <div data-dojo-attach-point="metadataRadioButtonsContainer" style="margin-bottom:5px"></div>
    <div data-dojo-attach-point="metadataSelectFilter" style="width: 100%">

    </div>
    <button data-dojo-attach-event="click:searchMetadata" style="float: right;margin-top: 10px;margin-right: 10px;">Search</button>
</div>