<div>
    <div class="searchByBoundsDescriptionLbl">Separate point coordinates with a comma</div>
    <div class="nsewWidgetInputContainer">
        <span class="searchByBoundsInputLbl">N:</span>
              <span data-dojo-attach-point="boundsNInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/TextBox"
                    style="width:${nsewTextBoxWidth}"
                      ></span>
        <span class="searchByBoundsInputLbl">S:</span>
              <span data-dojo-attach-point="boundsSInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/TextBox"
                    style="width:${nsewTextBoxWidth}"
                      ></span>
    </div>
    <div class="nsewWidgetInputContainer">
        <span class="searchByBoundsInputLbl">E:</span>
              <span data-dojo-attach-point="boundsEInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/TextBox"
                    style="width:${nsewTextBoxWidth}"
                      ></span>
        <span class="searchByBoundsInputLbl">W:</span>
              <span data-dojo-attach-point="boundsWInput"
                    data-dojo-attach-event="onKeyUp: handleValueChange"
                    data-dojo-type="dijit/form/TextBox"
                    style="width:${nsewTextBoxWidth}"
                      ></span>
    </div>

</div>