<div>
    <div></div>
    <div class="imageryDownloadAllContainer" data-bind="visible: showDownloadAllText, click: handleDownloadAll">
        Download Zip of all imagery
    </div>
    <div class="imageryDownloadAllInFlightContainer" data-bind="visible:downloadAllInFlight">
        <div class="loadingImageServiceThrobber" style="position:absolute;left:0"></div>
        <span class="imageryDownloadAllInFlightText"> This can take a while...</span>
    </div>
    <div class="imageryDownloadAllLinkContainer" data-bind="visible:downloadAllLinkVisible">
         <div class="imageryDownloadAllLink" data-bind="click:handleDownloadAllLinkClick">Zip Download</div>
    </div>
    <div class="imageryDownloadListContainer">
        <div data-bind="foreach: downloadItemsList">
            <div class="downloadServiceEntry">
                <div data-bind="text: $data.name"></div>
                <ul class="imageryDownloadLinkList" data-bind="foreach: $data.values">
                    <li>
                        <a class="" data-bind="attr:{href: $data.url},text: $data.label"></a>
                <span class="exportDownloadListSizeValue">
                    (<span data-bind="text:$data.size"></span>)
                </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>