html, body {
    overflow: hidden;
}
.imageInfoWindow .windowContent {
    height: 97%;
}
.navigationToolbar .navigationControl {
    display: block;
}
.esriControlsBR {
    bottom: 30px;
}
.mapScaleAndCoordsContainer {
    bottom: 30px;
}
.activeMessagingWidget {
    top: 10px;
}
.logoHeaderContainer {
    height: 80px;
}
.headerMainText {
    right: 5%;
}
.loadingImageServiceMessageContainer {
    font-size: 12pt;
    height: 8%;
    left: 35%;
    margin: auto;
    padding-top: 2.5%;
    position: absolute;
    text-align: center;
    top: 38%;
    width: 25%;
}
.loadingImageServiceText, .loadingImageServiceThrobber {
    float: left;
    margin-left: 20px;
}
.loadingImageServiceText{
    margin-top: 6px;
}
.loadingImageServiceThrobber {
    background: url(./assets/images/imageServiceLoadingThrobber.gif);
    height: 32px;
    width: 32px;
}