<div>
    <i title="Clear" class="fa fa-minus-square" style="cursor: pointer;margin-right: 5px; margin-top:5px; float: right"
       data-bind="click: clearResults"></i>

    <div style="margin-left: 4px;color: green;font-size: 8pt" data-bind="text: currentResultCount"></div>
    <div style="margin:auto;text-align:center;margin-top: 10px;">
        <form data-bind="submit: performSearch">
            <input type="text" data-bind="value: searchText,valueUpdate: 'input'">

            <div title="Search" class="fa fa-search" style="cursor: pointer" data-bind="click: performSearch"></div>
            <div>
                <span>
                    <label for="freeSearchCities">Cities</label>
                    <input id="freeSearchCities" type="checkbox" data-bind="checked:searchCities"/>
                </span>
                <span>
                    <label for="freeSearchStates">States</label>
                    <input id="freeSearchStates" type="checkbox" data-bind="checked:searchStates"/>
                </span>
            </div>
            <!--<button type="submit">Search</button>-->
            <!--<button data-bind="click:clearResults">Clear</button>-->

        </form>

    </div>

    <ul style="list-style-type: none;max-height:100px;overflow:auto" data-bind="foreach: results">
        <li style="text-transform: capitalize;cursor: pointer;color: blue; font-size: 10pt; margin: 3px 0;"
            >
            <span class="fa fa-map-marker" style="margin-right:3px"></span>
            <span title="Zoom To Result" data-bind="click:$parent.handleResultZoomTo,text: $data.name"></span>
            <span title="Search For Imagery" class="fa fa-search" data-bind="click:$parent.handleResultSearch"></span>
        </li>
    </ul>

</div>