<div>
    <div class="mensurationToolUnsupportedContainer" data-bind="visible:mensurationNotSupported">
        Layer does not support mensuration
    </div>
    <div class="mensurationToolSupportedContainer" data-bind="visible:mensurationSupported">
        <span class="" data-bind="text:operationLabel"></span>
        <select data-bind="enable: mensurationTypeSelectEnabled, options: mensurationOptions ,value:selectedMensurationOption, optionsText: 'label', optionsValue: 'value'"></select>

        <div class="mensurationActionsContainer">
        <span data-dojo-type="dijit/form/Button" data-dojo-attach-point="startMensurationButton"
              data-dojo-attach-event="onClick:startMensuration">Start</span>
        <span data-dojo-type="dijit/form/Button" data-dojo-attach-point="stopMensurationButton"
              data-dojo-attach-event="onClick:cancelMensuration">Stop</span>
        </div>
        <div class="mensurationDistanceContainer" data-bind="visible:showDistanceResults">
            <div data-bind="text:distanceOrHeightLabel"></div>
            <div data-bind="text:distanceOrHeightValue" class="mensurationCalculationValueContainer"></div>
            <div data-bind="visible:showAzimuth">
                <div data-bind="text:azimuthLabel"></div>
                <div data-bind="text:azimuthValue" class="mensurationCalculationValueContainer"></div>
            </div>
            <div class="mensurationErrorInCalculationContainer">
                <div data-bind="text: uncertaintyLabel"></div>
                <span>&plusmn;</span>
                <span data-bind="text: uncertaintyValue" class="mensurationCalculationValueContainer"></span>
            </div>
        </div>
        <div class="mensurationAreaAndPerimeterContainer" data-bind="visible:showAreaAndPerimeterResults">
            <div data-bind="text:areaLabel"></div>
            <div data-bind="text:areaValue" class="mensurationCalculationValueContainer"></div>
            <div data-bind="text:perimeterLabel"></div>
            <div data-bind="text:perimeterValue" class="mensurationCalculationValueContainer"></div>
        </div>
    </div>
</div>

