.resultActionsContainer {
    height: 30px;
    width: 100%;
    background: #F7F7F7;
}

.clearResultsIcon, .zoomToResultsIcon, .resetAllResultFiltersIcon, .expandResultsIcon, .downloadImageryIcon, .changeResultLayerTransparencyIcon {
    margin-top: 5px;
    float: right;
    visibility: visible;
}

.expandResultsIcon {
    margin-right: 3%;

}

.zoomToResultsIcon, .resetAllResultFiltersIcon, .clearResultsIcon, .downloadImageryIcon, .changeResultLayerTransparencyIcon {
    margin-right: 2%;
}

.resultGridCartIcon {
    margin-left: 6px !important;
}

.imageResultsInfoIcon, .imageResultsZoomToIcon {
    margin-left: 3px;
    margin-top: 6px;
}

.imageResultsZoomToIcon {
    float: left;
}

.field-showInformation {
    width: 30px;
    height: 16px;
}

.field-zoomToFootprint {
    width: 27px;
    height: 16px;
}

.field-addedToCart {
    width: 57px;
    height: 16px;
}

.field-showInformation img, .field-zoomToFootprint img {
    cursor: pointer;
}

.field-showThumbNail, .field-showFootprint {
    width: 48px;
}

.imageResultsGridThumbnailHeaderIcon, .imageResultsGridFootprintHeaderIcon, .imageResultsGridCartHeaderIcon {
    vertical-align: middle;
}

.imageResultsGridCartHeaderIcon {
    margin: 0 0 0 12px;
}

.queryResultsTableLabel {
    color: #606060;
    float: left;
    font-family: Cambria, Georgia, Palatino, Times New Roman, serif;
    font-size: 11pt;
    margin-left: 10px;
    margin-top: 5px;
}

.resultsToggleIcon {
    background: url(../assets/images/resultsToggleIcon.png) 0 50px;
    height: 25px;
    width: 89px;
    float: left;
    margin-left: 15px;
    margin-top: 2px;
    cursor: pointer;
}

.resultsToggleIconResultsSelected {
    background-position: 0 50px;
}

.resultsToggleIconCartSelected {
    background-position: 0 25px;
}

.resultContent {
    width: 100%;
    float: right;
}

.imageQueryResultsContainer {
    position: relative;
    overflow: auto;
}

.imageryResultsGridContainer .dgrid {
    border-left: 0;
    border-bottom: 0;
    cursor: pointer;
}

.imageQueryResultHoverItem {
    background: url(../assets/images/hoverBg.png);
}

.dgrid-row .field-showThumbNail .dijitCheckBox, .dgrid-row .field-showFootprint .dijitCheckBox {
    margin-left: 30%;
    margin-top: 20%;
}

.resultsGridFilterHeaderLabel, .resultsGridFilterHeaderIcon {
    float: left;
}

.resultsGridFilterHeaderLabel {
    margin-right: 3px;
}

.queryFilterPopupContentHeader {
    height: 20px;

}

.filterWidgetRevertIcon {
    float: left;
}

.filterWidgetPopupCloseIcon {
    float: right;
}

.queryFilterIconWrapper {
    width: 16px;
    height: 16px;
    float: left;
}

.queryResultShoppingCartButton .dijitButtonNode {
    padding: 1px 3px !important;
    margin-top: 1px;
}

.imageQueryFilterSliderRangeTypeLbl {
    cursor: pointer;
}

.queryResultsCountContainer {
    margin-left: 6px;
    line-height: 28px;
    float: left;
    min-width: 80px;
}

.cartCheckoutContainer {
    color: white;
    padding: 2px 10px;
    cursor: pointer;
    font-size: 11pt;
    line-height: 28px;
    margin-left: 4px;
    background: #73B8FD;
    font-family: tahoma, serif;
}

.cartCheckoutContainer:hover {
    background: #50A6FC;
    color: yellow;
}

.activeSourcesList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.activeSourcesList li {
    margin-bottom: 5px;
    cursor: pointer;
}

.activeSourcesTooltipAnchor {
    float: left;
    cursor: pointer;
    padding: 4px;
    background: #EEEEEE;
    margin: 2px 15px 0 10px;

}

.activeSourcesTooltipAnchor:hover {
    border: 1px solid gray;

}

.activeSourceServiceEntry:hover {
    color: blue;
}

.activeSourceServiceIcon {
    float: left;
    margin-right: 5px;
}

.resultGeometryActionsContainer {
    float: left;
    margin-left: 10px;
    margin-top: 3px;
}

.showImageByPointUnselectedIcon {
    background: url(../assets/images/thumbnailCursorPointUnselected.png);
    height: 18px;
    width: 35px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 2px;
}

.showImageByPointSelectedIcon {
    background: url(../assets/images/thumbnailCursorPointSelected.png);
    height: 18px;
    width: 35px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 2px;
}

.showImageByRectangleUnselectedIcon {
    background: url(../assets/images/thumbnailCursorRectUnselected.png);
    height: 18px;
    width: 35px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 2px;
}

.showImageByRectangleSelectedIcon {
    background: url(../assets/images/thumbnailCursorRectSelected.png);
    height: 18px;
    width: 35px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
    margin-top: 2px;
}
      /*
.toolsActiveContainer {
    float: left;
    width: 240px;
}
*/
  /*
.identifyOptionsContainer {
    float: left;
}
*/
.imagePopupEntry{
    font-size: 8pt;

}
.imagePopupLabel{
    color: black;
}
.imagePopupValue{
    color: #0000FF;
}
.imagePopupActionsContainer{
    height: 22px;
    min-width: 150px;
}
.imagePopupCloseIcon{
    float: right;
    margin-left: 20px;
}




