<div class="rasterFunctionWidgetEntryContainer">
    <span>Method:</span>
    <select data-dojo-attach-point="statisticsMethodSelect" data-dojo-type="dijit/form/Select"
            style="width:${selectWidgetWidth}">
        <option value="Min">Min</option>
        <option value="Max">Max</option>
        <option value="Mean">Mean</option>
        <option value="Standard Deviation">Standard Deviation</option>
    </select>

    <div class="rasterFunctionTextBoxEntry">
        <div class="rasterFunctionTextBoxLabelEntry">Kernel Rows</div>
        <input data-dojo-attach-point="kernelRowsTextBox" data-dojo-type="dijit/form/TextBox"
              style="width:${numberBoxWidth}"
              value="${defaultKernelRows}"/>
    </div>
    <div class="rasterFunctionTextBoxEntry">
        <div class="rasterFunctionTextBoxLabelEntry">Kernel Cols</div>
        <input data-dojo-attach-point="kernelColumnsTextBox" data-dojo-type="dijit/form/TextBox"
              style="width:${numberBoxWidth}"
              value="${defaultKernelColumns}"/>
    </div>
    <div class="applyRasterFunctionButtonContainer">
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:applyFunction">Apply</div>
    </div>
</div>