<div class="rasterFunctionWidgetEntryContainer">
    <span>Method:</span>
    <select data-dojo-attach-point="stretchMethodSelect" data-dojo-type="dijit/form/Select"
            style="width:${selectWidgetWidth}">
        <option value="0">None</option>
        <option value="3">Standard Deviation</option>
        <option value="4">Histogram</option>
        <option value="5">MinMax</option>
        <option value="6">Percent Clip</option>

    </select>

    <div class="rasterFunctionConfEntry rasterFunctionSliderWithTextBoxEntry">
           <input data-dojo-type="dijit/form/NumberTextBox"
                 data-dojo-attach-event="onKeyUp:handleSetStandardDevSliderValue" value="${defaultStandardDeviation}"
                 style="position:relative;top:35px;margin-left:10px;width: 15%"
                 data-dojo-props="constraints:{min:${defaultMinStandardDev},max:${defaultMaxStandardDev}}"
                 data-dojo-attach-point="standardDeviationsTextBox"/>

        <div style="width:80%">
            <div class="imageManipSliderLbl">St. Dev</div>
           <span data-dojo-type="dijit/form/HorizontalSlider"
                 data-dojo-attach-point="standardDevSlider"
                 data-dojo-props="intermediateChanges: true,minimum:${defaultMinStandardDev},maximum:${defaultMaxStandardDev},current:${defaultStandardDeviation}"
                 data-dojo-attach-event="onChange:handleStandardDevChange"></span>
        </div>
    </div>

    <div class="rasterFunctionConfEntry rasterFunctionSliderWithTextBoxEntry">
           <input data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-event="onKeyUp:handleSetGammaSliderValue"
                 value="${defaultGamma}" style="position:relative;top:35px;margin-left:10px;width: 15%"
                 data-dojo-props="constraints:{min:${defaultMinGamma},max:${defaultMaxGamma}}"
                 data-dojo-attach-point="gammaTextBox"/>

        <div style="width:80%">
            <div class="imageManipSliderLbl">Gamma</div>

           <span data-dojo-type="dijit/form/HorizontalSlider"
                 data-dojo-attach-point="gammaSlider"
                 data-dojo-props="intermediateChanges: true,minimum:${defaultMinGamma},maximum:${defaultMaxGamma},current:${defaultGamma}"
                 data-dojo-attach-event="onChange:handleGammaChange"></span>
        </div>

    </div>
    <div class="applyRasterFunctionButtonContainer">
        <div data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick:applyFunction">Apply</div>
    </div>

</div>