.mapIdentifyContainer {
    font-size: 9pt;
    width: 300px;
}

.mapIdentifyContainer ul {
    list-style-type: none;
    margin: 5px 2.5%;
    padding: 10px;
    width: 90%;
}

.mapIdentifyContainer ul li {
    margin: 2px 0;
}

.mapIdentifyResults {
    width: 100%;
    max-height: 300px;
    overflow: auto;
}

.mapIdentifyResultHeader {
    margin-bottom: 3px;
    position: relative;
    cursor: pointer;
    border: 1px solid #ADADAD;
    width: 95% !important;
    cursor: pointer !important;
}

.mapIdentifyResultHeader span {
    position: relative;
    top: 3px;
}

.mapIdentifyResultHeader:hover {
    text-decoration: underline;
}

.mapIdentifyResultToggler {
    float: left;
}

.mapIdentifyPositionDiv {
    position: absolute;
    height: 1px;
    width: 1px;
}

.mapIdentifyCloseContainer {
    height: 20px;
    width: 100%;

}

.imagePopupFeature {
    border-bottom: 1px solid gray;
}

.mapIdentifyCloseIcon {
    position: absolute;
    right: 10px;
}
