.checkoutActionsContainer {
    height: 100%;
    position: relative;

}

.exportImageActionContainer, .reportWidgetActionsContainer, .resultsCartDownloadActionsContainer {
    text-align: right;
    margin-right: 15px;
}

.imageResultsExportContent {
    margin: 10% 0 0 15%;
}
.downloadWindowContent{
    padding-top: 0 !important;
}