<div class="imageFilterWidgetContentEntry">
    <div data-dojo-attach-point="imageQueryWidgetContents" class="imageQueryWidgetContents imageFilterDateRangeWidgetContents">
        <div class="imageFilterDateSelectContent">
            <div class="imageFilterDateInputLbl">Start</div>
            <div data-dojo-attach-point="startDateResetIcon" data-dojo-attach-event="onclick:resetStartDate"
                 class="imageFilterDateRangeResetIcon commonIcons16 revert" title="Reset To Default"></div>
            <div data-dojo-attach-point="startDateTexboBoxContainer">

            </div>

        </div>
        <div class="imageFilterDateSelectContent">
            <div class="imageFilterDateInputLbl">End</div>
            <div data-dojo-attach-point="endDateResetIcon" data-dojo-attach-event="onclick:resetEndDate"
                 class="imageFilterDateRangeResetIcon commonIcons16 revert" title="Reset To Default"></div>
            <div data-dojo-attach-point="endDateTexboBoxContainer">

            </div>

        </div>
    </div>
</div>