<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="IE=9">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1,user-scalable=no"/>
    <link rel="stylesheet" type="text/css"
          href="//js.arcgis.com/3.7/js/esri/css/esri.css"/>
    <link rel="stylesheet" type="text/css"
          href="//js.arcgis.com/3.7/js/dojo/dijit/themes/tundra/tundra.css"/>
    <script type="text/javascript">
        djConfig = {ioPublish: true, isDebug: false, debugAtAllCosts: true, parseOnLoad: true, locale: 'en', packages: [
            {name: "imagediscovery", location: location.pathname.replace(/[^/]+$/, '') + "../js/imagediscovery"},
            {name: "esri", location: "//js.arcgis.com/3.7/js/esri"}
        ]};
    </script>
</head>
<body class="tundra">
<div style="margin-top: 25px">
    <div id="map" style="height: 600px"></div>
</div>
<div style="margin-top: 25px">
    <table style="width: 100%" border="1">
        <thead>
        <tr id="tableHeaderRow"></tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
    </table>
</div>
<script src="//js.arcgis.com/3.6/"></script>
<script type="text/javascript">
    require(["dojo/domReady!", "esri/config", "imagediscovery/ui/reporting/base/HtmlReport"], function (domReady, config, HtmlReport) {
        if (window.opener._reportingWidgetParameters == null) {
            return;
        }
        var mapParameters = window.opener._reportingWidgetParameters.mapParameters;
        var tableParameters = window.opener._reportingWidgetParameters.tableParameters;
        window.opener._reportingWidgetParameters = null;
        var reportClassObj = new HtmlReport({mapDivId: "map", tableHeaderRowId: "tableHeaderRow" , tableBodyId: "tableBody", mapParameters: mapParameters, tableParameters: tableParameters});
        config.defaults.io.proxyUrl = "proxy/proxy.ashx";
    });
</script>
</body>
</html>
