.imageFilterNumberRangeDisplay {
    margin-bottom: 10px;
    color: brown;
}

.imageFilterNumberModesLbl {
    margin-right: 5px;
    cursor: pointer;
}

.imageFilterNumberModesLblSelected {
    text-decoration: underline;
    color: blue;
}

.imageFilterDualNumberInput {
    width: 70px;
}

.imageFilterNumberRangeWidgetContents {
    font-size: 9pt;
}

.imageFilterModesContainer {
    margin-bottom: 10px;
    color: gray;

}

.imageFilterNumberRangeInfoContainer {
    /*margin: 0 0 5px;*/
    color: gray;
    font-size: 9pt;
}
.imageFilterNumberRangeInfoContainer div{
    margin: 0 0 3px;
}
.imageFilterNumberRangeInfoLbl{
    color: #60606B;
}


.applyNumberFilterIcon {
    position: absolute;
    left: 0;
    top: 2px;
}
.numberFilterInputContents{
   margin-left: 25px;
}

.imageFilterNumberModeContentContainer {
    position: relative;
}
